<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Flask Project</h1>
    <form action="/submit" method="POST">
<label>Name</label>
<input class="name" type="text" name='fname'/><br/>

<label>Location</label>
<input class='location' type="text" name='location'/><br/>

<label>Hobby</label>
<input class='hobby' type="text" name='hobby'/><br/>

<button><a>Submit</a></button>
    </form>
</body>
</html>